.recommend {
  padding-top: 32px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .recommend {
    padding-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .recommend {
    padding-top: 80px;
  }

  .filter-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
}
