.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.navigation-list-item {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  color: #121417;
}

@media screen and (max-width: 767px) {
  .navigation {
    order: 3;
    width: 100%;
  }

  .navigation-list {
    width: 100%;
    gap: 8px 12px;
  }
}
