.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-family: "Roboto", sans-serif;

  font-weight: 600;
  font-size: 18px;

  /* line-height: 32px; */
  line-height: 1.45455;
  color: #121417;
}

@media screen and (min-width: 768px) {
  .logo-box {
    gap: 16px;
  }

  .logo-text {
    font-size: 22px;
  }
}
