.login-container {
  width: 100%;
  max-width: 1440px;
  padding: 32px 16px 56px;
  margin: 0 auto;
  overflow: hidden;
}

.login-box {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-direction: column-reverse;
}

.login {
  border-radius: 30px;
  width: 100%;
  max-width: 627px;
  min-height: 0;
  padding: 32px 20px;
  background-color: rgba(133, 170, 159, 0.1);
}

.login-title {
  font-family: "Roboto", sans-serif;

  font-weight: 600;
  font-size: 32px;

  /* line-height: 48px; */
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}

.login-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 30px; */
  line-height: 1.5;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 32px;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

.login-form-input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  padding-block: 16px;
  padding-inline: 18px;
  width: 100%;
  height: 56px;
}

.login-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #121417;
}

.login-form-btn {
  border: none;
  border-radius: 30px;
  padding-block: 16px;
  padding-inline: 24px;
  width: 100%;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 28px; */
  line-height: 1.55556;
  color: #fcfcfc;
  background-color: #85aa9f;
  transition: background-color 300ms;
  margin-bottom: 32px;
}

.login-form-btn:focus,
.login-form-btn:hover {
  background-color: #a5c0b8;
}

.login-link {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgba(18, 20, 23, 0.5);
  text-decoration: underline;
}

.vector {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.35;
}

.login-img {
  width: min(100%, 498px);
}

@media screen and (min-width: 768px) {
  .login-container {
    padding: 64px 32px 72px;
  }

  .login {
    padding: 48px 64px;
  }

  .login-title {
    font-size: 40px;
  }

  .login-description {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    padding-left: 100px;
    padding-right: 134px;
    padding-top: 128px;
    padding-bottom: 80px;
  }

  .login-box {
    flex-direction: row-reverse;
    gap: 80px;
  }

  .login {
    min-height: 591px;
  }

  .vector {
    z-index: auto;
    opacity: 1;
  }
}
