@import "./reset.css";
@import "./variables.css";

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-geist-sans), var(--font-family-base), sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  line-height: var(--line-height-base);
}

button,
input,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }
}
